<div class="col-sm-8">
  <%= form_tag ideas_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an idea"
    %>
  <% end %>
</div>
