<div class="home-banner">
  <h1>Air Seed</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>


<div class="main-container">
  <div class="container">
    <div class="row">
      <% @ideas.each do |idea| %>

        <div class="col-xs-12 col-sm-4">
          <%= render 'shared/card', idea: idea  %>
        </div>
      <% end %>
    </div>
  </div>

  <div
    id="map"
    style="width: 100%;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>
