<div class="home-banner">
  <h1>Air Seed</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>


<div class="container">
  <div class="row">
    <% @ideas.each do |idea| %>
      <h2><%= idea.title %></h2>
      <p><%= idea.description %></p>
      <% if policy(idea).edit? %>
      <p><%= link_to "Edit", edit_idea_path(idea) %></p>
      <% end %>
      <p><%= link_to "Delete", idea_path(idea),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
    <% end %>
  </div>
</div>
