
<div class="container">
  <div class="idea text-center">
    <div class="main">
      <div class="main-content">





      </div>
    </div>
    <div class="stat">
      <div class="stat-content">

      </div>
    </div>
    <div class="stat">
      <div class="stat-content">

      </div>
      </div>
    <div class="stat">
      <div class="stat-content">
        <p>MAP</p>
      </div>
      </div>
    <div class="description">
      <div class="description-content text-left">

        <h3>More about the idea</h3>
        <p class="text-left">
          <%= @idea.description %>exitgst
        <h3>Application Criteria</h3>
        <p class="text-left">
          <%= @idea.application_criteria %>
        </p>
      </div>
    </div>
    <div class="reviews">

    </div>
  </div>
</div>
