// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #51b686;
$gray: #9a9a9a;
$light-gray: #fbf8f4;



$background-color: #fafafa;
$main-color: #2E4052;
$secondary-color: #51b686;
$third-color: #F1E9DB;


