.formulaire {
  display: flex;
  align-items: stretch;
  margin-bottom: $elements-margin;
  .principale {
    flex: 0 0 60%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.principale {
  background: white;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
}

.white-box {
  margin: 35px;
  background: white;
  padding: 25px;
  flex-direction: column;
}

}
.principale .btn {
  display: block;
  margin: 0 !important;
}

h2 {
  margin-top: 50px;
}

/* Fonts and colors */
.principale .btn {
  border-radius: 0;
  border: none;
  width: 70%;
  margin-top: 30px;
  background: #37B686;
}

.principale .btn:hover {
  background: #37B686;
  opacity: 0.7;
}

.stat p {
  color: rgba(0,0,0,0.40);
  font-size: 19px;
}


$elements-margin: 15px;

.list-unstyled:last-child > hr {
  display: none;
}



