.main, .description, .stat, .reviews {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main h3 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.main p {
  margin-top: 15px;
}

.stat {
  padding: 30px !important;
  font-size: 10px !important;
}
.main .btn {
  display: block;
  margin: 0 !important;
  margin-bottom: 30px !important;
}
.stat {
  font-size: 0.8em;
  h3 {
    margin: 0;
  }
}
@media (max-width: 940px) {
  .idea {
    display: block;
  }
}

h2 {
  margin-top: 50px;
}

/* Fonts and colors */
.main .btn {
  border-radius: 0;
  border: none;
  width: 70%;
  margin-top: 30px;
  background: #37B686;
}

.main .btn:hover {
  background: #37B686;
  opacity: 0.7;
}

.stat p {
  color: rgba(0,0,0,0.40);
  font-size: 19px;
  margin-top: 20px;
}

.white-box {
  background: white;
  padding: 25px;
  flex-direction: column;
}

$elements-margin: 15px;

.flexline {
  display: flex;
  align-items: stretch;
  margin-top: 35px;
  margin-bottom: $elements-margin;
  .main {
    flex: 0 0 30%;
    margin-right: $elements-margin;
  }
  .stats-and-description {
    flex: 1 1 auto;
  }
}

.stats-and-description {
  display: flex;
  flex-direction: column;
  .stats-flexline {
    flex: 0 0 auto;
    margin-bottom: $elements-margin;
  }
  .description {
    flex: 1 1 auto;
  }
}
.stats-flexline {
  display: flex;
  align-items: stretch;
}
.stat {
  flex-grow: 1;
}

.list-unstyled:last-child > hr {
  display: none;
}





// .main, .description, .stat, .reviews {
//   background: white;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   padding: 40px;
//   margin: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   min-height: 100%;
// }

// .main h3 {
//   margin-top: 0px;
//   margin-bottom: 30px;
// }

// .main p {
//   margin-top: 15px;
// }

// .stat {
//   padding: 30px !important;
//   font-size: 10px !important;
// }
// .main .btn {
//   display: block;
//   margin: 0 !important;
//   margin-bottom: 30px !important;
// }
// .stat {
//   font-size: 0.8em;
//   h3 {
//     margin: 0;
//   }
// }
// @media (max-width: 940px) {
//   .idea {
//     display: block;
//   }
// }

// h2 {
//   margin-top: 50px;
// }

// /* Fonts and colors */
// .main .btn {
//   border-radius: 0;
//   border: none;
//   width: 70%;
//   margin-top: 30px;
//   background: #37B686;
//   margin-bottom:30px !important;
// }

// .main .btn:hover {
//   background: #37B686;
//   opacity: 0.7;
// }

// .stat p {
//   color: rgba(0,0,0,0.40);
//   font-size: 19px;
//   margin-top: 20px;
// }

// .white-box {
//   background: white;
//   padding: 25px;
//   flex-direction: column;
// }

// $elements-margin: 15px;

// .flexline {
//   display: flex;
//   align-items: stretch;
//   margin-top: 35px;
//   margin-bottom: $elements-margin;
//   .main {
//     flex: 0 0 30%;
//     margin-right: $elements-margin;
//   }
//   .stats-and-description {
//     flex: 1 1 auto;
//   }
// }

// .stats-and-description {
//   display: flex;
//   flex-direction: column;
//   .stats-flexline {
//     flex: 0 0 auto;
//     margin-bottom: $elements-margin;
//   }
//   .description {
//     flex: 1 1 auto;
//   }
// }
// .stats-flexline {
//   display: flex;
//   align-items: stretch;
// }
// .stat {
//   flex-grow: 1;
// }

// .list-unstyled:last-child > hr {
//   display: none;
// }



