
td {
  margin-right: 10px;
}

.profile-picture {
  width: 30%
}

.requests {
  padding: 5px 10px 5px 10px;
  width: 100%;
}

.request {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin: 0px 0px 0px 0px;
  p {
    margin: 0px;
  };
  img {
    margin-right: 5px;
  }

}


.section-title {
  border-bottom: 2px solid $main-color;
}
.request-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.request-details {
  display: flex;
  justify-content: space-between;
  p {
    padding: 0px 5px 0px 5px;
  };
}

.request-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 15%;
}
