<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <span class="close">&times;</span>
      <h3>Be generous and help the Airseed team to survive.</h3>
      <button class="btn btn-success">GIVE MONEY</button>
    </div>
  </div>
</div>
