<% image = idea.photo.blank? ? "question-lightbulb.jpg" : idea.photo %>
<div class="picture"
style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
    url('<%= cl_image_path image, height: 70, width: 100, crop: :fill %>')">
</div>
