// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.container {
 min-height: 80vh;
}

h1 {
  font-weight: $title-font-weight;
  font-size: $title-font-size;
  font-family: $title-font-family;
  color: $main-color;
};

h3 {
  font-weight: $subtitle-font-weight;
  font-size: $subtitle-font-size;
  font-family: $subtitle-font-family;
  color: $main-color;
};

p {
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  font-family: $text-font-family;
  color: $text-color;
};



